.flot-placeholder {
  height: 300px;
  width: 98%;
  margin-left: 20px;
  margin-bottom: 2rem;
}

.axisLabel {
  position: absolute;
  text-align: center;
  font-size: 12px;
}

.xaxisLabel {
  bottom: -20px;
  left: 0;
  right: 0;
}

.yaxisLabel {
  top: 50%;
  left: -20px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

#tooltip {
  position: absolute;
  display: none;
  border: 2px solid #4572A7;
  padding: 7px;
  size: 10;
  background-color: #efefef;
  opacity: 0.90;
}
