*.egg-info/
.envrc
.mypy_cache/
.python-version
.scannerwork/
.test-private/
.tox/
.vscode/
.bundle/
.sass-cache
/build/
/dist/
/envdir/
/Gemfile.lock
/media/
/node_modules/
/private/
/reports/
/static/
__pycache__
assets/.DS_Store
db.sqlite
db.sqlite3
npm-debug.log
settings/dev_overrides_local.py
settings/local_dev_settings.py
settings/local_settings.py
settings/test_overrides_local.py